/* 
	Document   : feature_links
	Created on : Aug 12, 2009, 8:57:08 PM
	Author	 : perrin
	Description:
		Styles for the links features
*/

.links-table-container{
	padding: 20px;
}

.links-table {
	width: 100%;
	table-layout: fixed;
}

.links-table tr td{
	text-align: center;
}

.links-table tr td img{
	display: block;
	margin: 2px auto;
	padding: 10px;
}
