
.x-tab-strip-text {
	background-position:0pt 3px;
	background-repeat:no-repeat;
	padding-right:20px;
}

.x-tab-strip{
	direction:rtl;
}
.x-tab-left{
	direction:rtl;
}
ul.x-tab-strip li {
	 float: right !important;
	 margin-right: 2px;

}

.x-tab-panel-header, ul.x-tab-strip-top {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
}

.x-panel{
	
}