/* 
    Document   : iefix
    Created on : Aug 29, 2009, 11:47:37 PM
    Author     : perrin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.datagrid td img{
    width: expression(this.offsetWidth > 300 ? "300px" : "auto");
}
