/* 
	Document   : contents_search
	Created on : Mar 3, 2010, 8:52:10 PM
	Author	 : perrin
	Description:
		Contents Search Design
*/

.search-result {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px inset #000000;
}

.search-result.first-result{
	margin-top: 0px;
	padding-top: 0px;
	border-top: none;
}

